@import "tailwindcss";

body {
  font-family: 'IBM Plex Sans', sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

button {
  cursor: pointer;
}
